body {
    background-color: #f6f5f0;
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #778da9;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-decoration: none;
}

#home_button {
    margin-right: 150px;
    font-size: 2em;
    color: #0d1b2a;
    text-decoration: none;
    user-select: none;
    font-family: 'Outfit', sans-serif;
}

#home_button:visited {
    color: #0d1b2a;
}

.nav_button {
    margin-left: 50px;
    margin-top: 15px;
    color: #778da9;
    float: right;
    text-decoration: none;
}

.nav_button:hover{
    color: #0d1b2a;
    cursor: pointer;
}

.nav_button:visited {
    color: #778da9;
}

.nav_button:visited:hover {
    color: #0d1b2a;
    cursor: pointer;
}

.dashboard_button {
    text-decoration: none;
    margin-left: -70px;
    color: #778da9;
}

.dashboard_button:visited {
    color: #778da9;
}

.dashboard_button:hover {
    color: #0d1b2a; 
}

.flash_message {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute; 
}

.flash_message pre {
    font-family: 'Inter', sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    font-size: 14px;
    padding-left: 20px;
    z-index: 1;
    background: rgba(255,255,255, 0.5);
}

#header{
    text-align: center;
    padding-top: 175px;
    height: 350px;
}

#subtitle {
    color: #778da9;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 25px;
    user-select: none;
}

#title {
    font-size: 100px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    margin-top: -50px;
    user-select: none;
    color: #0d1b2a;
}

.home_papers {
    width: 50%;
    margin-left: 35%;
}

.home_subjects {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    border-radius: 25px;
    margin-right: 15px;
    padding: 15px;
    border: solid 2px #778da9;
    color: #778da9;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}

.home_subjects:hover {
    background-color: #778da9;
    color: white;
}

.home_sections {
    text-align: center;
    height: 300px;
}

.home_sections_left {
    text-align: left;
    height: 300px;
    margin-left: 5%;
}

.home_sections_right {
    text-align: right;
    height: 300px;
    margin-right: 5%;
}

.home_smalltext {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #778da9;
    text-align: left;
    margin-left: 10%; 
}

.home_headings {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #0d1b2a;
}

.home_descriptions {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #778da9;
    margin-top: -20px;
}

.home_buttons {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid #778da9;
    background-color: #778da9;
    width: fit-content;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition-duration: 0.2s;
}

.home_buttons:hover {
    background-color: white;
    border: 2px solid #778da9;
    color: #778da9;
}

.mask_girl {
    position: absolute;
    margin-top: -200px;
}

.study_girl {
    position: absolute;
    margin-top: -100px;
    width: 25%;
    height: auto;
}

#paper_dropdown {
    position: relative;
    float: right;
}

.dropdown_button {
    font-family: 'Outfit', sans-serif;
    background-color: #f6f5f0;
    color: #778da9;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#dropdown_content {
    display: none;
    position: absolute;
    background-color: #f6f5f0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown_content a {
    color: #778da9;
    padding: 12px 16px;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

#dropdown_content a:hover {color: #0d1b2a;}

#paper_dropdown:hover #dropdown_content {display: block;}

.arrow {
    border: solid #778da9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    margin-left: 8px;
    margin-bottom: 3px;
}

#footer {
    background-color: #778da9;
    height: 275px;
    bottom: 0;
    margin-top: 70px;
    position: relative;
}

#footer_content {
    width: 75%;
    margin: auto;
    padding-top: 40px;
}

#footer_title {
    width: 35%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
}

#footer_container {
    width: 20%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
}

#footer_description {
    color: #485b72;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    font-size: 18px;
    user-select: none;
    margin-bottom: -25px;
    vertical-align: top;
}

#footer_home {
    margin-right: 150px;
    font-size: 30px;
    color: #0d1b2a;
    text-decoration: none;
    font-weight: 300;
    cursor: default;
    font-family: 'Outfit', sans-serif;
}

#footer_headings {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    color: #0d1b2a;
    margin-bottom: 5px;
    font-size: 18px;
}

#copyright {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #485b72;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
    width: 100%;
    vertical-align: bottom;
    margin-top: 100px;
}

.footer_link {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: #485b72;
    display: block;
    width: fit-content;
    margin-bottom: 5px;
}

.footer_link:hover {
    color: #f6f5f0;
    transition-duration: 0.2s;
}

.subject_header {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.subject_title {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 60px;
}

.subject_subtitle {
    color: #778da9;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    margin-top: -40px;
    font-size: 25px;
}

.page {
    width: 70%;
    margin: auto;
}

.level {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

.paper_link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: bold;
    width: 90%;
    margin: 0;
    color: #778da9;
    transition-duration: 0.1s;
}

.paper_link:visited {color: #778da9;}

.paper_link:hover {
    color: #0d1b2a;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    position: relative;
}

.standard_box ul {
    display: table;
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.standard {
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
}

.standard_box {
    width: 30%;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    float: right;
    background-color: white;
    height: 500px;
    border-radius: 25px;
}

.standard_box:after {
    content: "";
    display: table;
    clear: both;
}

.standard_title {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    text-align: center;
}

.standard_description {
    font-family: 'Inter', sans-serif;
    color: #778da9;
    font-size: 14px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.login_block {
    padding: 80px;
    width: 60%;
    text-align: center;
    margin: auto;
    vertical-align: center;
    margin-top: 80px;
}

.login_header {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    user-select: none;
    margin-bottom: 40px;
}

.login_selected {
    width: 50%;
    font-weight: 300;
    text-decoration: none;
    padding: 5px;
    border-bottom: 4px solid #0d1b2a;
    color: #0d1b2a;
    width: fit-content;
}

.login_unselected {
    color: #778da9;
    font-weight: 100;
    width: 50%;
    text-decoration: none;
    padding: 5px;
    transition-duration: 0.2s;
}

.login_selected:visited{
    color: #0d1b2a;
}

.login_unselected:hover{
    color: #485b72;
}

.login_labels {
    font-family: 'Inter', sans-serif;
    color: #0d1b2a;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 17px;
}

.remember_me {
    text-align: center;
    list-style: inside;
    justify-content: center;
    padding-left: 0;
}

.remember_label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #778da9;
    font-weight: bold;
}

.login_checkbox {
    cursor: pointer;
    vertical-align: middle;
}

.login_sublabels {
    font-family: 'Inter', sans-serif;
    color: #0d1b2a;
    font-size: 13px;
    margin-top: 2px;
}

.login_boxes {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    height: 40px;
    color: #0d1b2a;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid #778da9;
    width: 250px;
}

input:focus {
    outline:none;
}

.login_button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #778da9;
    background-color: #778da9;
    width: 100px;
    color: white;
    cursor: pointer;
    margin-top: -20px;
    transition-duration: 0.2s;
}

.login_button:hover {
    background-color: white;
    border: 2px solid #778da9;
    color: #778da9;
}

.dashboard_left {
    width: 70%;
    height: 90vh;
    display: grid;
    float: left;
}

.dashboard_right {
    width: 30%;
    height: 90vh;
    display: grid;
    float: left;
}

.dashboard_header {
    font-family: 'Outfit', sans-serif;
    padding-top: 100px;
    font-size: 20px;
    width: 50%;
    margin-bottom: 0;
}

.welcome {
    font-weight: 300;
    color: #778da9;
    user-select: none;
}

.welcome_name {
    font-weight: 300;
    font-size: 70px;
    padding-top: 0;
    margin-top: -45px;
    color: #0d1b2a;
    user-select: none;
}

.dashboard_photo {
    height: 25vh;
    width: 90%;
    object-fit: cover;
    float: right;
    margin-bottom: 0;
}

.dashboard_subheadings {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    margin-top: 0;
    color: #0d1b2a;
    position: sticky;
    width: fit-content;
    display: inline-block;
}

.dashboard_subheadings em {
    color: #485b72;
}

.todo {
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.calender {
    height: 51vh;
    background-color: white;
    border-radius: 25px;
    margin-top: 0px;
}

.favourites {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    margin-top: -80px;
}

.favourites_heading {
    margin-bottom: -10px;
}

.dashboard_folders {
    margin-top: 20px;
}

.notes_link {
    font-family: 'Inter', sans-serif;
    margin-left: 10px;
    text-decoration: none;
    color: #778da9;
    font-size: 14px;
    border-bottom: 2px solid #778da9;
    font-weight: bold;
}

.notes_link:hover {
    color: #485b72;
}

.arrow_icon_right {
    margin-left: 5px;
    font-size: 12px;
    color: #778da9;
}

.notes_header {
    font-family: 'Outfit', sans-serif;
    padding-top: 30px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0;
}

.notes_subheading {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    color: #0d1b2a;
    width: fit-content;
}

.folder_dropdown {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.folder_dropdown_button, .edit_note_button {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border: 1.5px solid #778da9;
    padding: 8px;
    width: fit-content;
    cursor: pointer;
    color: #778da9;
    background-color: #f6f5f0;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.folder_dropdown_content {
    display: none;
    position: absolute;
    margin-left: 0px;
    margin-top: 1.5px;
    background: white;
    color: #778da9;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 126px;
    color: #778da9;
    border: 1.5px solid #778da9;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.folder_dropdown_content a {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #778da9;
}

.folder_dropdown_content a:hover {font-weight: bold;}

.folder_dropdown_content a:visited {
    color: #778da9;}

.folder_dropdown_button:hover , .edit_note_button:hover {
    background-color: #778da9;
    color: #f6f5f0;
}

.folder_dropdown:hover .folder_dropdown_content {display: block;}

.edit_note_button {
    float: right;
}

.note_background {
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.notes_inline {
    display: inline-block;
    width: 100%;
}

.add_note_button button {
    color: #778da9;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 100px;
}

.add_note_button button:hover {
    color: white;
    background-color: #778da9;
}

.folders {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    padding-top: 5px;
}

.folder_buttons button {
    font-family: 'Inter', sans-serif;
    padding: 15px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #778da9;
    background: #f6f5f0;
    color: #778da9;
    cursor: pointer;
    transition-duration: 0.2s;
}

.folder_buttons button:hover {
    color: #f6f5f0;
    background: #778da9;
}

.folder_box {
    display: flex;
    vertical-align: center;
}

.folder_box form {
    width: fit-content;
    margin-left: 40px;
    margin-top: 25px;
}

.new_folder{width: 250px;}

.new_folder_button {width: 60px;}

.notes_list {
    list-style: none;
    width: 80%;
    margin: auto;
    vertical-align: center;
    font-size: 16px;
}

.favourite_icon {
    margin-right: 15px;
    color: #485b72;
    font-size: 14px;
}

.notes_icon {
    color: #485b72;
    margin-right: 10px;
    font-size: 14px;
}

.notes_list_folder { font-weight: bold; }

.notes_list_item {
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    display: inline-block;
}

.notes_list_item a {
    text-decoration: none;
    color: #485b72;
}

.notes_list_item a:hover {
    text-decoration: none;
    font-weight: bold;
}

.notes_list_item:visited { color: #485b72; }

.arrow_icon_left {
    font-size: 11px;
    margin-right: 8px;
    color: #778da9;
}

.back_link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #778da9;
    border-bottom: 2px solid #778da9;
}

.back_link:visited {color: #778da9}

.new_note_form {
    margin-top: 30px;
    height: 63%;
    font-family: 'Inter', sans-serif;
    border: none;
}


#new_note_title {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 12px;
    border: none;
    background-color: #f6f5f0;
    color: #485b72;
    width: 60%;
}

.new_note_button {
    font-family: 'Inter', sans-serif;
    margin-top: 15px;
    float: right;
    padding: 10px;
    border-radius: 24px;
    width: 100px;
    font-size: 14px;
    border: 2px solid #778da9;
    color: #778da9;
    transition-duration: 0.2s;
    cursor: pointer;
}

.new_note_button:hover{
    color: #f6f5f0;
    background-color: #778da9;
}

.search_icon {
    margin-left: 10px;
    font-size: 13px;
    color: #485b72;
    margin-bottom: 0;
}

.favourites_left{
    display: inline-block;
    width: 75%;
    vertical-align: top;
    margin-top: 0;
}

.favourites_right {
    width: 20%;
    display: inline-block;
    margin-top: -10px;
    vertical-align: top;
}

.todo_text, .calender_text, .favourites_text {
    padding: 20px;
}

.subheadings_small {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    margin-bottom: -10px;
}

.todo_textbox, .notes_search, .new_folder {
    font-family: 'Inter', sans-serif;
    color: #0d1b2a;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #778da9;
}

.todo_textbox {width:72%;}

.notes_search {width: 90%; }

::placeholder{
    color: #778da9;
    font-weight: normal;
}

.todo_button, .note_button, .new_folder_button {
    color: #778da9;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: #f6f5f0;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}

.todo_button {width: 20%;}

.note_button {
    float: right;
    margin-top: -2px;
    margin-right: 20px;
    width: 22%;
}


.todo_button:hover, .note_button:hover {
    color: #f6f5f0;
    background-color: #778da9;
}

.task {
    vertical-align: middle;
    margin-bottom: -10px;
    display: flex;
}

.truncate {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    display: inline-block;
}

.task_name {
    display: inline;
    font-family: 'Inter', sans-serif;
    color: #0d1b2a;
    width: fit_content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.completed_task_name {
    width: fit-content;
    display: inline;
    font-family: 'Inter', sans-serif;
    color: #778da9;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.delete_icon, .pen_icon, .completed_delete_icon {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    font-size: 12px;
    color: #485b72;
    font-weight: 400;
    margin-top: 6px;
}

.completed_delete_icon {
    margin-right: 10px;
}

.tick_icon {
    font-weight: 400;
    font-size: 12px;
    margin-right: 8px;
    color: #485b72;
    position: relative;
    display: inline-block;
    margin-top: 6px;
}

.pen_icon {
    font-weight: 400;
    font-size: 12px;
    margin-right: 8px;
    color: #485b72;
    position: relative;
    display: inline-block;
}

.delete, .complete, .update {
    text-decoration: none;
    color: inherit;
}
