body {
    background-color: #f6f5f0;
}

#navbar {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #778da9;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

#home_button {
    margin-right: 150px;
    font-size: 2em;
    color: #0d1b2a;
    text-decoration: none;
    user-select: none;
}

#home_button:visited {
    color: #0d1b2a;
}

.nav_button {
    margin-left: 50px;
    margin-top: 15px;
    color: #778da9;
    float: right;
    text-decoration: none;
}

.nav_button:hover{
    color: #0d1b2a;
    cursor: pointer;
}

.nav_button:visited {
    color: #778da9;
}

.nav_button:visited:hover {
    color: #0d1b2a;
    cursor: pointer;
}

#header{
    text-align: center;
    padding-top: 175px;
}

#subtitle {
    color: #778da9;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 25px;
    user-select: none;
}

#title {
    font-size: 100px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    margin-top: -50px;
    user-select: none;
}

#paper_dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

#dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown_content a:hover {background-color: #ddd;}

#paper_dropdown:hover #dropdown_content {display: block;}

#paper_dropdown:hover #dropdown_content {display: block;}

.subject_title {
    font-family: 'Outfit', sans-serif;
}
