<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&display=swap" rel="stylesheet">
    <title>error | easy.e</title>
</head> 

<div class="page">
    <div class="error_div">
        <h1 class="error_404">500</h1>
        <h1 class="error_text">internal server error</h1>
        <p class="error_smalltext">sorry, but your request was unable to be completed.</p>
        <p class="error_smalltext">back to <a href="{{url_for('home')}}"><b>home</b></a></p> 
    </div>
</div>