<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5b4a218e91.js" crossorigin="anonymous"></script>
    <title>{{ name }}'s dashboard | easy.e</title>
</head> 

<nav class="navbar">
    <a id="home_button">easy.e</a>
    <a class="dashboard_button" href="{{url_for('dashboard')}}">dashboard</a>
    <a class="nav_button" href="{{url_for('logout')}}">logout</a>
    <div id="paper_dropdown">
        <button class="dropdown_button" href="{{url_for('papers')}}">past papers<i class="arrow down"></i></button>
        <div id="dropdown_content">
            <a href="{{url_for('english')}}">english</a>
            <a href="{{url_for('maths')}}">maths</a>
            <a href="{{url_for('physics')}}">physics</a>
            <a href="{{url_for('chemistry')}}">chemistry</a>
            <a href="{{url_for('biology')}}">biology</a>
        </div>
    </div>
</nav>

<div class="page">
    <div class="dashboard_left">
        <div class="dashboard_header">
            <h1 class="welcome">welcome,</h1><h1 class="welcome_name">{{ name }}</h1>
        </div>
        <div class="favourites">
            <div class="favourites_text">
                <div class="favourites_heading">
                    <h2 class="dashboard_subheadings">favourited notes</h2>
                    <a href="{{url_for('notes')}}" class="notes_link">all notes</a><span class="arrow_icon_right"><i class="fa-solid fa-angle-right"></i></span>
                    <a href="{{url_for('new_note')}}"><button class="note_button">new note</button></a>
                </div>
                <div class="favourites_left">
                    <form method="POST">
                        <input type="text" placeholder="search notes" class="notes_search"><span class="search_icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </form>
                    {% for note in notes %}
                        <li>{{ note.name }}</li>
                    {% endfor %}
                </div>
                <div class="favourites_right">
                    <h3 class="subheadings_small">folders</h3>
                    <div class="dashboard_folders">
                    {% for folder in folders %}
                        <li><a href="/folder/{{ folder.id }}">{{ folder.name }}</a></li>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard_right">
        <div class="todo">
            <div class="todo_text">
                <h2 class="dashboard_subheadings">to-do list</h2>
                <div>
                    <form action="{{url_for('add_task')}}" method="POST">
                        <input type="text" name="task_add" placeholder="new task" class="todo_textbox">
                        <input type="submit" value="add" class="todo_button">
                    </form>
                </div>

                <form method="POST">
                    {% for task in incomplete_tasks %}
                        <ul class="task">
                            <span class="tick_icon"><a href="/complete_task/{{ task.id }}" class="complete"><i class="fa-regular fa-circle"></i></a></span>
                                <div class="truncate">
                                    <li class="task_name">{{ task.name }}</li>
                                </div>
                            <span class="delete_icon"><a href="/delete_task/{{ task.id }}" class="delete"><i class="fa-regular fa-trash-can"></i></a></span>
                            <span class="pen_icon"><a href="/update_task/{{ task.id }}" class="update"><i class="fa-solid fa-pencil"></i></a></span>
                        </ul>
                    {% endfor %}
                    <br>
                </form>

                <h3 class="subheadings_small">completed tasks</h3>
                    {% for task in complete_tasks %}
                        <ul class="task">
                            <span class="tick_icon"><a href="/redo_complete_task/{{ task.id}}" class="complete"><i class="fa-solid fa-circle-check"></i></a></span>
                            <div class="truncate">
                                <li class="completed_task_name">{{ task.name }}</li>
                            </div>
                            <span class="completed_delete_icon"><a href="/delete_task/{{ task.id }}" class="delete"><i class="fa-regular fa-trash-can"></i></a></span>
                        </ul>
                    {% endfor %}

            </div>
        </div>
        <div class="calender">
            <div class="calender_text">
                <h2 class="dashboard_subheadings">upcoming deadlines</h2>
            </div>
        </div>
    </div>
</div>
