{% extends "layout_user.html" %}
{% block title %}deadlines{% endblock %}

{% block content %}

<div class="page">
    <div class="deadlines_header">
        <h1 class="welcome">{{ name }}'s</h1>
        <h1 class="welcome_name">deadlines</h1>
        <span>
            <a class="new_deadline_button" href="{{url_for('page_unavailable')}}"><button>new deadline</button></a>
            <a class="new_deadline_button" href="{{url_for('page_unavailable')}}"><button>new tag</button></a>
        </span>
    </div>
    <div class="deadlines_container">
        <div class="deadlines_sections">
            <h1 class="dashboard_subheadings">overdue</h1>
            {% for item in overdue_items %}
            <div class="deadline_div">
                <li><span>{{ item.date }}</span> | {{ item.name }} </li>
                <div class="deadline_tags">
                    {% for tag in item.tags %}
                    <li>{{ tag.name }}</li>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="deadlines_sections">
            <h1 class="dashboard_subheadings">due today</h1>
            {% for item in today_items %}
            <div class="deadline_div">
                <li><span>{{ item.date }}</span> | {{ item.name }}</li>
                <div class="deadline_tags">
                    {% for tag in item.tags %}
                    <li>{{ tag.name }}</li>
                    {% endfor %}
                </div>
            </div>
            {% endfor%}
        </div>
        <br>
        <div class="deadlines_sections">
            <h1 class="dashboard_subheadings">due later</h1>
            {% for item in later_items %}
            <div class="deadline_div">
                <li><span>{{ item.date }}</span> | {{ item.name }}</li>
                <div class="deadline_tags">
                    {% for tag in item.tags %}
                    <li>{{ tag.name }}</li>
                    {% endfor %}
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>

{% endblock %}