{% extends "layout.html" %}
{% block title %} english {% endblock %}

{% block content %}

<div class="subject_header">
    <h1 class="subject_title">english</h1>
    <h2 class="subject_subtitle">past papers</h2>
</div>

<div class="page">
    <h1 class="level">level three</h1>
    <div class="standard">
        <div class="standard_box">
            <h2 class="standard_title">written text</h2>
            <p class="standard_description">91472 - Respond critically to specified aspect(s) of studied written text(s), supported by evidence.</p>
            {% for epaper in epapers %}

            <ul>
                <a class="paper_link" href="/static/past_paper_files/{{epaper.paper_file}}" target="_blank">{{epaper.name}}</a>
            </ul>

            {% endfor %}
        </div>
        <div class="standard_box">
            <h2 class="standard_title">visual text</h2>
            <p class="standard_description">91473 - Respond critically to specified aspect(s) of studied visual or oral text(s), supported by evidence. </p>
            {% for epaper in epapers %}

            <ul>
                <a class="paper_link" href="/static/past_paper_files/{{epaper.paper_file}}" target="_blank">{{epaper.name}}</a>
            </ul>

            {% endfor %}
        </div>
        <div class="standard_box">
            <h2 class="standard_title">unfamiliar text</h2>
            <p class="standard_description">91474 - Respond critically to significant aspects of unfamiliar written texts through close reading, supported by evidence.</p>
            {% for epaper in epapers %}

            <ul>
                <a class="paper_link" href="/static/past_paper_files/{{epaper.paper_file}}" target="_blank">{{epaper.name}}</a>
            </ul>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}