{% extends "layout_user.html" %}
{% block title %}folder{% endblock %}

{% block content %}
<div class="page">
    <br>
    <span class="arrow_icon_left"><i class="fa-solid fa-angle-left"></i></span><a href="{{url_for('notes')}}" class="back_link">back to notes</a>
    {% for folder in folders %}
    <div class="notes_header">
        <h1 class="welcome">folder</h1>
        <h1 class="welcome_name">{{ folder.name }}</h1>
    </div>
    {% endfor %}
    {% for note in notes %}
        <div class="notes_list">
            <li class="notes_list_item"><span class="notes_icon"><i class="fa-regular fa-file-lines"></i></span><a href="/note/{{ note.id}}">{{ note.title }}</a></li>
        </div>
    {% endfor %}
</div>
{% endblock %}