<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<div id="footer">
    <div id="footer_content">
        <div id="footer_container">
            <h2 id="footer_description">strive to excel with</h2>
            <h1 id="footer_home">easy.e</h1>
        </div>
        <div id="footer_container">
            <h3 id="footer_headings">explore</h3>
            <a class="footer_link">home</a>
            <a class="footer_link">about</a>
            <a class="footer_link">contact</a>
        </div>
        <p id="copyright">© Angela Chen 2022</p>
    </div>
</div>