{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}
<div id="header">
    <h2 id="subtitle">strive to excel with</h2>
        <h1 id="title">easy.e<h1>
</div>

<div class="page">
    <img src="/static/home_illustration.png" class="study_girl">
    <div class="home_sections">
        <h2 class="home_headings">find past papers</h2>
        <p class="home_descriptions">official ncea papers from nzqa</p>
        <div class="home_papers">
            <a href="{{url_for('english')}}"><button type=button class="home_subjects">english</button></a>
            <a href="{{url_for('maths')}}"><button type=button class="home_subjects">maths</button></a>
            <a href="{{url_for('physics')}}"><button type=button class="home_subjects">physics</button></a>
            <a href="{{url_for('chemistry')}}"><button type=button class="home_subjects">chemistry</button></a>
            <a href="{{url_for('biology')}}"><button type=button class="home_subjects">biology</button></a>
        </div>
    </div>
    <div class="home_sections">
        <h2 class="home_headings">try easy.e today</h2>
        <p class="home_descriptions">get started for free</p>
        <a href="{{url_for('signup')}}"><button class="home_buttons" type="button">sign up now</button></a>
        <img src="/static/home_illustration2.png" class="mask_girl">
    </div>
</div>
{% endblock %}