{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}
<div id="header">
    <h2 id="subtitle">strive to excel with</h2>
        <h1 id="title">easy.e<h1>
</div>

<div class="page">
    <div class="home_sections">
        <h2 class="home_headings">find past papers</h2>
    </div>
    <div class="home_sections">
        <h2 class="home_headings">try easy.e today</h2>
        <p class="home_descriptions">get started for free</p>
        <button class="home_buttons" type="button"><a class="home_buttons_link" href="{{url_for('signup')}}">sign up now</a></button>
        <img src="/static/home_illustration2.png" class="mask_girl">
    </div>
</div>
{% endblock %}