<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&display=swap" rel="stylesheet">
    <title>login | easy.e</title>
</head> 

<nav class="navbar">
    <a id="home_button" href="{{url_for('home')}}">easy.e</a>
</nav>

<div class="login_block">
    <form class="login" method="POST" action="/login">
        <h2 class="login_header">login</h2>
        {{ form.csrf_token }}
        <p>username</p>
        {{ form.username }}
        <p>password</p>
        {{ form.password }}
        <br>
        <button class="login_button" type="submit">login</button>
    </form>
    <a href="{{url_for('signup')}}">signup</a>
</div>