{% extends "layout.html" %}
{% block title %} maths {% endblock %}

{% block content %}

<div class="subject_header">
    <h1 class="subject_title">maths</h1>
    <h2 class="subject_subtitle">past papers</h2>
</div>

<div class="page">
    <h1 class="level">level three</h1>
    <div class="standard">
        <div class="standard_box">
            <h2 class="standard_title">differentiation</h2>
            <p class="standard_description">91577 - </p>
            {% for mpaper in mpapers %}
            {% if mpaper.standard == "differentiation" %}
            <ul>
                <a class="paper_link" href="/static/past_paper_files/{{mpaper.paper_file}}" target="_blank">{{mpaper.name}}</a>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
        <div class="standard_box">
            <h2 class="standard_title">integration</h2>
            <p class="standard_description">91473 - Respond critically to specified aspect(s) of studied visual or oral text(s), supported by evidence. </p>
            {% for mpaper in mpapers %}
            {% if mpaper.standard == "integration" %}
            <ul>
                <a class="paper_link" href="/static/past_paper_files/{{mpaper.paper_file}}" target="_blank">{{mpaper.name}}</a>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
        <div class="standard_box">
            <h2 class="standard_title">complex numbers</h2>
            <p class="standard_description">91474 - Apply the algebra of complex numbers in solving problems.</p>
            {% for mpaper in mpapers %}
            {% if mpaper.standard == "numbers" %}
            <ul>
                <a class="paper_link" href="/static/past_paper_files/{{mpaper.paper_file}}" target="_blank">{{mpaper.name}}</a>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}