{% extends "layout_user.html" %}
{% block title %}note{% endblock %}

{% block content %}
{% for note in notes %}
<div class="page">
    <br>
    <br>
    <span class="arrow_icon_left"><i class="fa-solid fa-angle-left"></i></span><a href="{{url_for('notes')}}" class="back_link">back to notes</a>
    <div class="notes_header">
        <h1 class="welcome">note</h1>
        <h1 class="welcome_name">{{ note.title }}</h1>
        <h3 class="dashboard_subheadings">
            <span class="notes_icon" style="font-size:18px;"><i class="fa-regular fa-folder"></i></span>
            <em>{{ note.folder_name }}</em>
        </h3>
        <div class="folder_dropdown">
            <button class="folder_dropdown_button"><span><i class="fa-solid fa-folder-open"></i></span></button>
            <div class="folder_dropdown_content">
                {% for folder in folders %}
                <a href="/change_folder/{{ note.id }}/{{ folder.id }}">{{ folder.name }}</a>
                {% endfor %}
            </div>
        </div>
        <a class="edit_note_button" href="/edit_note/{{ note.id }}"><span><i class="fa-solid fa-file-pen"></i></span></a>
        <a href="/favourite_note/{{ note.id }}">favourite</a>
    </div>
    <div class="note_background">
        <p> {{ note.content|safe }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}
