{% extends "layout_user.html" %}
{% block title %}note editor{% endblock %}

{% block content %}
    <div class="page">
        <br>
        <span class="arrow_icon_left"><i class="fa-solid fa-angle-left"></i></span><a href="/note/{{ note.id }}" class="back_link">{{ note.title }}</a>
        <form method="POST" class="new_note_form" action="/edit_note/{{ note.id }}">
            {{ form.csrf_token }}
            {{ form.title(id="new_note_title") }}
            {{ form.content() }}
            <input type="submit" value="save" class="new_note_button">
        </form>
        {{ ckeditor.load(pkg_type="basic") }}
        {{ ckeditor.config(name='content') }}
    </div>
{% endblock %}