{% extends "layout_user.html" %}
{% block title %}notes{% endblock %}

{% block content %}
<div class="page">
    <div class="notes_header">
        <h1 class="welcome">{{ name }}'s</h1>
        <h1 class="welcome_name">notes</h1>
        <a class="add_note_button" href="{{url_for('new_note')}}"><button>new note</button></a>
    </div>
    <div class="folders">
        <div class="folder_box">
            <h1 class="notes_subheading">folders</h1>
            <form action="{{url_for('add_folder')}}" method="POST">
                <input type="text" name="folder_add" placeholder="new folder" class="new_folder" required>
                <input type="submit" value="add" class="new_folder_button">
            </form>
        </div>
        {% for folder in folders %}
            <a class="folder_buttons" href="/folder/{{ folder.id }}"><button>{{ folder.name }}</button></a>
        {% endfor %}
    </div>
    
    <div class="notes">
        <div class="notes_sections">
            <h1 class="dashboard_subheadings">favourited notes</h1>
            {% for note in favourite_notes %}
                    <div class="notes_list">
                        <li class="notes_list_item">
                            <span class="favourite_icon"><a href="/unfavourite_note/{{ note.id }}"><i class="fa-solid fa-star"></i></a></span>
                            <span class="notes_icon"><i class="fa-regular fa-file-lines"></i></span>
                            <a href="/note/{{ note.id }}"><span class="notes_list_folder">{{ note.folder_name }} |</span> {{ note.name }}</a>
                        </li>
                    </div>
            {% endfor %}
        </div>
        <br><hr><br>
        <div class="notes_sections">
            {% for note in other_notes %}
                    <div class="notes_list">
                        <li class="notes_list_item">
                            <span class="favourite_icon"><a href="/favourite_note/{{ note.id }}"><i class="fa-regular fa-star"></i></a></span>
                            <span class="notes_icon"><i class="fa-regular fa-file-lines"></i></span>
                            <a href="/note/{{ note.id }}"><span class="notes_list_folder">{{ note.folder_name }} |</span> {{ note.name }}</a>
                        </li>
                    </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}