<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&display=swap" rel="stylesheet">
    <title>feature unavailable | easy.e</title>
</head>

<div class="page">
    <div class="error_div">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1 class="error_text">feature unavailable</h1>
        <p class="error_smalltext">sorry, but due to time constraints, this feature is currently unavailable.</p>
        <p class="error_smalltext">back to <a href="{{url_for('home')}}"><b>home</b></a></p>
    </div>
</div>