<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} | easy.e</title>
</head> 

{% include "nav.html" %}}

<div class="subject_header">
    <h1 class="subject_title">{% block subject}{% endblock %}</h1>
    <h2 class="subject_subtitle">past papers</h2>
</div>

<div class="page">
    <h1 class="level">{% block level %}{% endblock %}}</h1>
    <div class="standard">
        <div class="standard_box">
            <h2 class="standard_title">{% block standard_1 %}{% endblock %}</h2>
            <p class="standard_description">{% block description_1 %}{% endblock %}</p>
            {% block papers_1}

            {% endblock %}
        </div>
        <div class="standard_box">
            <h2 class="standard_title">{% block standard_2 %}{% endblock %}</h2>
            <p class="standard_description">{% block description_2 %}{% endblock %}</p>
            {% block papers_2 %}

            {% endblock %}
        </div>
        <div class="standard_box">
            <h2 class="standard_title">{% block standard_3 %}{% endblock %}</h2>
            <p class="standard_description">{% block description_3 %}{% endblock %}</p>
            {% block papers_3 %}

            {% endblock %}
        </div>
    </div>
</div>