<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&display=swap" rel="stylesheet">
    <title>sign up | easy.e</title>
</head>

<nav class="navbar">
    <a id="home_button" href="{{url_for('home')}}">easy.e</a>
</nav>

{% with messages = get_flashed_messages(with_categories=true, category_filter='user') %}
{% if messages %}
{% for category, message in messages %}
<div class="flash_message">
    <pre><strong>Error: </strong>{{ message }}</pre>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="login_block">
    <form class="login" method="POST" action="/signup" autocomplete="off">
        <div class="login_header">
            <a class="login_unselected" href="{{url_for('login')}}">login</a><a class="login_selected"
                href="{{url_for('signup')}}">signup</a>
        </div>
        {{ form.csrf_token }}
        <p class="login_labels">display name</p>
        {{ form.name(class="login_boxes") }}
        <p class="login_sublabels"><em>Minimum 4 characters.</em></p>
        <p class="login_labels">username</p>
        {{ form.username(class="login_boxes") }}
        <p class="login_sublabels"><em>Minimum 4 characters. Maximum 15 characters.</em></p>
        <p class="login_labels">email</p>
        {{ form.email(class="login_boxes") }}
        <p class="login_labels">password</p>
        {{ form.password(class="login_boxes") }}
        <p class="login_sublabels"><em>Minimum 8 characters. Maximum 80 characters.</em></p>
        <br>
        <br>
        <button class="login_button" type="submit">sign up</button>
    </form>

</div>